body {
	background-color: #1d1d1d;
}

.container {
	width: 800px;
	margin: 0 auto;
}

.inventory {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	overflow: hidden;
	&__profile {
		padding: 18px 14px;
		flex: 2;
		max-width: 236px;
		border: 1px solid rgba(77, 77, 77, 1);
		background: rgba(38, 38, 38, 1);
		ul {
			list-style-type: none;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 15px;
			margin: 0;
			padding: 0;
			& > li {
				display: block;
			}
			& > li:nth-child(1) {
				height: 30px;
				width: 100%;
			}
			& > li:nth-child(2) {
				height: 10px;
				width: 75%;
			}
			& > li:nth-child(3) {
				height: 10px;
				width: 100%;
			}
			& > li:nth-child(4) {
				height: 10px;
				width: 80%;
			}
			& > li:nth-child(5) {
				height: 10px;
				width: 60%;
			}
			& > li:nth-child(6) {
				height: 10px;
				width: 70%;
			}
			& > li:nth-child(7) {
				height: 10px;
				width: 40%;
			}
		}
		border-radius: 12px;
		-webkit-border-radius: 12px;
		-moz-border-radius: 12px;
		-ms-border-radius: 12px;
		-o-border-radius: 12px;
	}
	&__image {
		display: flex;
		justify-content: center;
		margin-bottom: 20px;
	}
	&__list {
		// flex: 1;
		position: relative;
		background: rgba(38, 38, 38, 1);
		border-radius: 12px;
		-webkit-border-radius: 12px;
		-moz-border-radius: 12px;
		-ms-border-radius: 12px;
		-o-border-radius: 12px;
	}
	&__message {
		width: 100%;
		border: 1px solid rgba(77, 77, 77, 1);
		height: 90px;
		display: flex;
		position: relative;
		justify-content: center;
		align-items: center;

		background: rgba(38, 38, 38, 1);
		.hide {
			height: 40px;
			width: 90%;
		}
		.position {
			position: absolute;
			top: 10px;
			right: 20px;
		}
		border-radius: 12px;
		-webkit-border-radius: 12px;
		-moz-border-radius: 12px;
		-ms-border-radius: 12px;
		-o-border-radius: 12px;
	}
	&__details {
		position: absolute;
		width: 250px;
		height: 99.8%;
		//filter: blur(10px);
		border: 1px solid rgba(77, 77, 77, 1);
		right: 0px;
		background-color: #262626;

		//-webkit-filter: blur(10px);
		//&:;

		// 	content: "";
		// 	position: absolute;
		// 	width: 100%;
		// 	height: 100%;
		// 	filter: blur(100px);
		// 	inset: 0px;
		// 	-webkit-filter: blur(100px);
		// }
		border-top-right-radius: 12px;
		border-bottom-right-radius: 12px;
		transition: transform 2s ease-in-out;
		-webkit-transition: transform 2s ease-in-out;
		-moz-transition: transform 2s ease-in-out;
		-ms-transition: transform 2s ease-in-out;
		-o-transition: transform 2s ease-in-out;
	}
	&__details.active {
		animation: identifier 1s 1 ease-in;
		-webkit-animation: identifier 1s 1 ease-in;
	}
}
@keyframes identifier {
	0% {
		transform: translate(200px, 0);
		-webkit-transform: translate(200px, 0);
		-moz-transform: translate(200px, 0);
		-ms-transform: translate(200px, 0);
		-o-transform: translate(200px, 0);
	}
	100% {
		transform: translateX(0);
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
	}
}
.board {
	display: flex;
	list-style-type: none;
	flex-wrap: wrap;
	width: 527px;
	margin: 0;
	padding: 0;

	// border: 2px solid rgba(77, 77, 77, 1);
	&__item {
		width: calc(105px - 1.6px);
		height: 100px;
		border: 1px solid rgba(77, 77, 77, 1);
	}
	&__item:nth-child(1) {
		border-top-left-radius: 12px;
	}
	&__item:nth-child(5) {
		border-top-right-radius: 12px;
	}
	&__item:nth-child(21) {
		border-bottom-left-radius: 12px;
	}
	&__item:last-child {
		border-bottom-right-radius: 12px;
	}
}

.details {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 0;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;

	&__close {
		z-index: 2;
		cursor: pointer;
		margin: 8px 0;
		align-self: flex-end;
		padding: 8px 12px;
	}
	&__img {
		flex: 1;
		position: relative;
		border-bottom: 2px solid #4d4d4d;

		margin: 0 8px;
		margin-bottom: 10px;
		z-index: 4;
		span {
			width: 115px;
			height: 115px;
			display: block;
			position: absolute;
		}
		span:nth-child(1) {
			opacity: 0.65;
			// filter: blur(100px);
			left: calc(50% + 10px);
			transform: translateX(-50%);
			-webkit-transform: translateX(-50%);
			-moz-transform: translateX(-50%);
			-ms-transform: translateX(-50%);

			-o-transform: translateX(-50%);
		}
		span:nth-child(2) {
			opacity: 1;
			left: 10px;
			top: 10px;
			z-index: 1;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	&__text {
		border-bottom: 2px solid #4d4d4d;
		z-index: 3;
		margin: 0 8px;
		margin-bottom: 15px;
		flex: 1;
		h4 {
			height: 30px;
			width: 100%;
		}
		p {
			height: 10px;
		}
	}
	&__btns {
		display: flex;
		justify-content: center;
		z-index: 2;
		&-delete {
			padding: 11px 55px;
			margin: 10px;
			color: rgba(255, 255, 255, 1);
			background-color: rgba(250, 114, 114, 1);
			border-radius: 8px;
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			-ms-border-radius: 8px;
			-o-border-radius: 8px;
			border: none;
			outline: none;
			&:nth-child(2) {
				margin: 10px 0;
				padding-left: 25px;
				padding-right: 25px;
				margin-left: 10px;
			}
		}
		&-cansel {
			padding: 11px 25px;
			margin: 10px 0;
			color: rgba(45, 45, 45, 1);
			background-color: rgba(255, 255, 255, 1);
			border: none;
			outline: none;
			border-radius: 8px;
		}
	}
	&::after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		border-top-right-radius: 12px;
		border-bottom-right-radius: 12px;
		background: #262626;
		backdrop-filter: blur(100px);
	}
}
.dialog {
	input {
		margin-bottom: 20px;
		border: none;
		outline: none;
		width: calc(100% - 12px);
		background: rgba(77, 77, 77, 1);
		height: 40px;
		color: white;
		border-radius: 4px;
		font-size: 14px;
		font-weight: 500;
		padding-left: 12px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		-ms-border-radius: 4px;
		-o-border-radius: 4px;
	}
	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	&__btns {
		display: flex;
	}
}
.hide {
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	background: linear-gradient(90deg, #3c3c3c 0%, #444444 51.04%, #333333 100%);
}
